{% extends "admin/base.html.twig" %}

{% block title %}
	Blog - Gestion des commentaires
{% endblock %}
{% block body %}
	<div class="admin-container">
		<h3 class="admin__manage-title">Manage comments
		</h3>
		<table class="table table-striped">
			<thead>
				<th>Content</th>
				<th>Post ID</th>
				<th>Comment ID</th>
				<th>Action</th>
			</thead>
			<tbody>
				{% for comment in comments %}
					<tr>
						<td>{{ comment.content }}</td>
						<td>{{ comment.postId }}</td>
						<td>{{ comment.id }}</td>
						<td>
              <a href="/admin/switchStatus/{{ comment.id }}" class="btn btn-warning">
              {% if comment.status is same as("0") %}
                Rendre actif
              {% else %}
                Rendre inactif
							{% endif %}
              </a>
							<a href="/admin/delete/{{ comment.id }}" class="btn btn-danger">Supprimer</a>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
{% endblock %}
