{% extends "admin/base.html.twig" %}

{% block title %}
	Blog - Modification d'un réseau social
{% endblock %}
{% block body %}
	<div class="admin-container">
		<h3 class="admin__manage-title">Manage socials
		</h3>
		<form method="post" action="">
			<div class="form-group">
				<label for="iconName">Icon name</label>
				<input type="text" name="iconName" class="form-control" id="iconName" value="{{ social.iconName }}">
				{% if errors['iconName'] is defined %}
					<p class="form_error">{{ errors['iconName'] }}</p>
				{% endif %}
			</div>
			<div class="form-group">
				<label for="socialUrl">Url</label>
				<input type="text" name="socialUrl" class="form-control" id="socialUrl" value="{{ social.socialUrl }}">
				{% if errors['socialUrl'] is defined %}
					<p class="form_error">{{ errors['socialUrl'] }}</p>
				{% endif %}
			</div>
			<div class="form-group">
				<label for="socialName">Name</label>
				<input type="text" name="socialName" class="form-control" id="socialName" value="{{ social.socialName }}">
				{% if errors['socialName'] is defined %}
					<p class="form_error">{{ errors['socialName'] }}</p>
				{% endif %}
			</div>
			<button type="submit" class="btn btn-primary">Modifier</button>
		</form>
	</div>
{% endblock %}