{% extends "client/base.html.twig" %}

{% block title %}
	Liste des articles -
	{{parent()}}
{% endblock %}
{% block body %}
	<div class="article__preview-index">
	{% for post in posts %}
		<section class="article__preview">
			<p class="article__preview-title">{{ post.title|u.truncate(45, '...') }}</p>
			<hr class="article__preview-separator">
			<p class="article__preview-date">mise à jour le {{ post.updatedAt | date("d/m/Y") }}</p>
			<p class="article__preview-author">{{ post.author.username }} - {{ post.title }}</p>
			<hr class="article__preview-separator">
			<p class="article__preview-chapo">{{ post.content|u.truncate(300, '...') }}</p>
			<hr class="article__preview-separator">
			<a type="button" href="{{ uri ~ "blog/" ~ post.slug }}" class="article__preview-button">plus</a>
		</section>
	{% endfor %}
	</div>
	{% include('/client/parts/_pagination.html.twig') %}
{% endblock %}
