{% extends "client/base.html.twig" %}

{% block title %}
	Article -
	{{parent()}}
{% endblock %}
{% block body %}
	<article>
		<section class="article__head">
			<h1 class="article__head-title">{{ post.title }}</h1>
			<hr class="article__head-separator">
			<p class="article__head-date">mise à jour le
				{{ post.updatedAt | date("d/m/Y") }}</p>
			<p class="article__head-author">{{ post.author.username }}
				-
				{{ post.title }}</p>
			<hr class="article__head-separator">
		</section>
		<section class="article__illustration">
			<img src="{{ uri ~ "uploads/" ~ post.coverImage }}" alt="">
		</section>
		<section class="article__content">
			<p class="article__content-chapo">{{ post.caption }}</p>
			<p class="article__blockquote">
				<i>{{ post.content }}</i>
			</p>
			<p class="article__content-axurit-separator">
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="90deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="180deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="270deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="90deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="180deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="270deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="90deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="180deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="270deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="90deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="180deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="270deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="90deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="180deg" data-width="20"></span>
				<span class="iconify" data-icon="healthicons:animal-donkey-outline" data-rotate="270deg" data-width="20"></span>
			</p>
			<hr class="article__foot-separator">
		</section>

		<section class="article__comment-form">
			<form method="post" action="">
				<fieldset>
					<!-- Titre du fieldset -->
					<legend>Laisser votre commentaire ci-dessous:</legend>
					<div class="form__comment">
						<textarea name="content" id="content" value="{{ _post.content }}" cols="40" rows="6"></textarea>
						{% if user is not defined %}
							<p class="form_error">Vous devez être connecté pour poster un commentaire.</p>
						{% endif %}
						{% if errors['content'] is defined %}
							<p class="form_error">{{ errors['content'] }}</p>
						{% endif %}
						{% if user is not defined %}
							<button class="form__button"><a href="/login">Se connecter</a></button>
						{% else %}
							<button type="submit" class="form__button">Envoyer</button>
						{% endif %}
						
					</div>
				</fieldset>
			</form>
		</section>

		<section class="article__comments">
			{% for comment in comments %}
			{% if comment.status is same as("1") %}
				<div class="article__user-comment">
					<p class="artcile__comment-author">{{ comment.author.username }}
						le
						<i>{{ comment.createdAt | date("d/m/Y") }}</i>:</p>
					<p class="article__comment-content">{{ comment.content }}</p>
				</div>
				{% endif %}
			{% endfor %}
		</section>

		<section class="article__footer">
			<h2>Merci d'avoir lu !</h2>
		</section>
	</article>

{% endblock %}
{% block javascripts %}
	<script src="https://cdn.tiny.cloud/1/957hyj5oi1jke7pdjcnh6ckifg450gjrukv5fyuw92i14gzw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
	<script type="text/javascript" src="/js/emoji.js"></script>
	{{ parent() }}
{% endblock %}
