{% extends "admin/base.html.twig" %}

{% block title %}
	Blog - Modification de l'admin
{% endblock %}
{% block body %}
	<div class="admin-container">
		<h3 class="admin__manage-title">Modification de l'admin
		</h3>
		<form enctype="multipart/form-data" method="post" action="">
			<div class="form-group">
				<label for="description">Description</label>
				<textarea name="description" rows="10" class="form-control admin__update-textarea" id="description" >{{ admin.description }}</textarea>
				{% if errors['adminDesc'] is defined %}
					<p class="form_error">{{ errors['adminDesc'] }}</p>
				{% endif %}
			</div>
			<div class="form-group">
				<label for="tagline">Présention</label>
				<textarea name="tagline" rows="7" class="form-control admin__update-textarea" id="tagline" >{{ admin.tagline }}</textarea>
				{% if errors['tagline'] is defined %}
					<p class="form_error">{{ errors['tagline'] }}</p>
				{% endif %}
			</div>
			<div class="form-group">
				<label for="firstname">Prénom</label>
				<input type="text" name="firstname" class="form-control" id="firstname" value="{{ admin.user.firstname }}">
				{% if errors['firstname'] is defined %}
					<p class="form_error">{{ errors['firstname'] }}</p>
				{% elseif errors['firstNameMaxChars'] is defined %}
					<p class="form_error">{{ errors['firstNameMaxChars'] }}</p>
				{% endif %}
			</div>
			<div class="form-group">
				<label for="lastname">Nom</label>
				<input type="text" name="lastname" class="form-control" id="lastname" value="{{ admin.user.lastname }}">
				{% if errors['lastname'] is defined %}
					<p class="form_error">{{ errors['lastname'] }}</p>
				{% elseif errors['lastNameMaxChars'] is defined %}
					<p class="form_error">{{ errors['lastNameMaxChars'] }}</p>
				{% endif %}
			</div>
			<div class="form-group">
				<label for="username">Pseudonyme</label>
				<input type="text" name="username" class="form-control" id="username" value="{{ admin.user.username }}">
				{% if errors['username'] is defined %}
					<p class="form_error">{{ errors['username'] }}</p>
				{% elseif errors['usernameMaxChars'] is defined %}
					<p class="form_error">{{ errors['usernameMaxChars'] }}</p>
				{% endif %}
			</div>
			<div class="form-group">
				<label for="password">Mot de passe</label>
				<input type="password" name="password" id="password" class="form-control"/>
				<div class="form_error-password">
					{% if errors['password'] is defined %}
						<p>{{ errors['password'] }}</p>
					{% endif %}
				</div>
			</div>
			<div class="form-group">
				<label for="password">Confirmez le mot de passe</label>
				<input type="password" name="password_confirmation" id="password_confirmation" class="form-control"/>
				<div class="form_error-password">
					{% if errors['password_confirmation'] is defined %}
						<p>{{ errors['password_confirmation'] }}</p>
					{% endif %}
				</div>
					{% if errors['passwords_are_same'] is defined %}
						<p class="form_error">{{ errors['passwords_are_same'] }}</p>
					{% endif %}
			</div>
			<h5>Logo de l'admin:</h5>
			<img class="home__profile-logo" src="{{ uri ~ admin.avatarUrl }}" alt="">
			<br>
			<input type="hidden" name="MAX_FILE_SIZE"/>
			Modifier:<br>
			<input type="file" name="avatar_url" id="fichier" accept="image/jpeg,image/gif,image/png,image/svg+xml"/><br>

			<h5 class="admin__manage-subtitle">Cv de l'admin:</h5>
			<p>{{ admin.cvUrl }}</p>
			<input type="hidden" name="MAX_FILE_SIZE"/>
			Modifier:<br>
			<input type="file" name="cv_url" id="fichier" accept="application/pdf"/><br>
			<br>
			<button type="submit" class="btn btn-primary">Modifier</button>
			<a class="btn btn-secondary" href="/admin">Retour</a>
		</form>
	</div>
{% endblock %}
