{% extends "client/base.html.twig" %}

{% block title %}
	Home -
	{{parent()}}
{% endblock %}
{% block body %}
	<div class="home" id="home">
		<section class="home__profil">
			<h1 class="home__profile-identity">{{ admin.user.firstname }} "{{ admin.user.username }}" {{ admin.user.lastname }}</h1>
			<img class="home__profile-logo" src="{{ uri ~ admin.avatarUrl }}" alt="">
			<p class="home__profile-description">
				<span class="iconify" data-icon="fa6-solid:quote-left"></span> {{ admin.description }} <span class="iconify" data-icon="fa6-solid:quote-right"></span>
			</p>
			<p class="home__profile-email">
				{{ admin.user.email }}
			</p>
			<p class="home__profile-cv">Mon CV:
				<a href="{{ uri ~ admin.cvUrl }}" download><span class="iconify" data-icon="ant-design:folder-open-twotone"></span></a>
			</p>
			<button id="open" class="home__button-contact">Contactez moi!</button>
		</section>
		<section class="modal-container" id="modal_container">
			<div class="modal" id="modal">
				<h1>Formulaire de contact</h1>
				<form method="post" action="/contactMe">
					<fieldset>
						<!-- Titre du fieldset -->
						<legend>Vos coordonnées</legend>
						<div class="form__infos">
							<p>
								<label for="nom">Nom</label>
								<input type="text" name="nom" id="nom"/>
							</p>
							<p>
								<label for="prenom">Prénom</label>
								<input type="text" name="prenom" id="prenom"/>
							</p>
							<p>
								<label for="email">E-mail</label>
								<input type="email" name="email" id="email"/>
							</p>
						</div>

						<div class="form__message">
							<label for="message">Laisser votre message ci-dessous :</label>
							<textarea name="message" id="message" cols="40" rows="6"></textarea>
							<button class="form__button">Envoyer</button>
						</div>
					</fieldset>
				</form>
				<button id="close" class="form__button">Fermer</button>
			</div>
		</section>
	</div>
{% endblock %}
{% block javascripts %}
	<script type="text/javascript" src="/js/toggleModal.js"></script>
	{{ parent() }}
{% endblock %}
