{% extends "client/base.html.twig" %}

{% block title %}
	Inscription -
	{{parent()}}
{% endblock %}
{% block body %}
	<section class="register">
		<form method="post" action="">
			<fieldset>
				<!-- Titre du fieldset -->
				<legend>Entrez vos identifiants:
				</legend>
				<div class="form__infos">
					<div class="register__nom-prenom">
						<div class="register__field">
							<p class="register__field-nom">
								<label for="lastName">Nom</label>
								<input type="text" name="lastName" id="lastName" value="{{ _post.lastname }}"/>
								{% if errors['lastName'] is defined %}
									<p class="form_error">{{ errors['lastName'] }}</p>
									{% elseif errors['lastName'] is defined %}
									<p class="form_error">{{ errors['lastName'] }}</p>
								{% endif %}
							</p>
						</div>
						<div class="register__field">
							<p class="register__field-prenom">
								<label for="firstName">Prénom</label>
								<input type="text" name="firstName" id="firstName" value="{{ _post.firstname }}"/>
								{% if errors['firstName'] is defined %}
									<p class="form_error">{{ errors['firstName'] }}</p>
									{% elseif errors['firstName'] is defined %}
									<p class="form_error">{{ errors['firstName'] }}</p>
								{% endif %}
							</p>
						</div>
					</div>
					<div class="register__surnom-email">
						<div class="register__field">
							<p class="register__field-surnom">
								<label for="username">Surnom</label>
								<input type="text" name="username" id="username" value="{{ _post.username }}"/>
								{% if errors['username'] is defined %}
									<p class="form_error">{{ errors['username'] }}</p>
									{% elseif errors['username'] is defined %}
									<p class="form_error">{{ errors['username'] }}</p>
								{% endif %}
							</p>
						</div>
						<div class="register__field">
							<p class="register__field-email">
								<label for="email">E-mail</label>
								<input type="email" name="email" id="email" value="{{ _post.email }}"/>
								{% if errors['email_invalid'] is defined %}
									<p class="form_error">{{ errors['email_invalid'] }}</p>
								{% endif %}
								{% if errors['email'] is defined %}
									<p class="form_error">{{ errors['email'] }}</p>
								{% endif %}
							</p>
						</div>
					</div>
					<p class="register__field-password">
						<label for="password">Mot de passe</label>
						<input type="password" name="password" id="password"/>
					</p>
					<div class="form_error-password">
						{% if errors['password'] is defined %}
							<p>{{ errors['password'] }}</p>
							{% elseif errors['badPassword'] is defined %}
							<p class="form_error">{{ errors['badPassword'] }}</p>
						{% endif %}
					</div>
					<p>
						<label for="password">Confirmez le mot de passe</label>
						<input type="password" name="password_confirmation" id="password_confirmation"/>
					</p>
					<div class="form_error-password">
						{% if errors['password_confirmation'] is defined %}
							<p>{{ errors['password_confirmation'] }}</p>
						{% endif %}

					</div>
					{% if errors['passwords_are_same'] is defined %}
						<p class="form_error">{{ errors['passwords_are_same'] }}</p>
					{% endif %}
				</div>
				<button class="register__button">S'enregistrer</button>
			</fieldset>
		</form>
	</section>
{% endblock %}
