{% block body %}
<form enctype="multipart/form-data" action="" method="post">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" name="title" class="form-control" id="title" value="{{ post is empty ? _post.title : post.title }}">
    {% if errors['title'] is defined %}
      <p class="form_error">{{ errors['title'] }}</p>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="caption">Caption</label>
    <input type="text" name="caption" class="form-control" id="caption" value="{{ post is empty ? _post.caption : post.caption }}">
    {% if errors['caption'] is defined %}
      <p class="form_error">{{ errors['caption'] }}</p>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="content">Content</label>
    <textarea name="content" class="form-control admin__update-textarea" id="content" >{{ post is empty ? _post.content : post.content }}</textarea>
    {% if errors['content'] is defined %}
      <p class="form_error">{{ errors['content'] }}</p>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="cover_image">Cover Image</label><br>
    <img class="home__profile-logo" src="{{ uri ~ "uploads/" ~ post.coverImage }}" alt=""><br>
    <input type="hidden" name="MAX_FILE_SIZE"/>
    <input type="file" name="cover_image" id="fichier" accept="image/jpeg,image/gif,image/png,image/svg+xml"/>
  </div>
  <div class="form-group">
    <label for="alt_cover_image">Alt Cover Image</label>
    <input type="text" name="alt_cover_image" class="form-control" id="alt_cover_image" value="{{ post is empty ? _post.altCoverImage : post.altCoverImage }}">
    {% if errors['alt_cover_image'] is defined %}
      <p class="form_error">{{ errors['alt_cover_image'] }}</p>
    {% endif %}
  </div>
  <div class="form-group">
    <label for="slug">Slug</label>
    <input type="text" name="slug" class="form-control" id="slug" value="{{ post is empty ? _post.slug : post.slug }}">
    {% if errors['slug'] is defined %}
      <p class="form_error">{{ errors['slug'] }}</p>
    {% endif %}
  </div>
  <pre>
    {{ dump(post) }}
  </pre>
  <pre>
    {{ dump(post.cover_image) }}
  </pre>
  <button type="submit" class="btn btn-primary">{{ post is empty ? "Create" : "Update" }}</button>
</form>
{% endblock %}